Port 2222
PermitRootLogin no
PasswordAuthentication no
PubkeyAuthentication yes
StrictModes no
GatewayPorts clientspecified
AllowTcpForwarding yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
AuthorizedKeysFile /home/tunnel/.ssh/authorized_keys

Match User tunnel
    ForceCommand /usr/bin/sleep infinity
    AllowTcpForwarding yes
    PermitOpen any
    GatewayPorts clientspecified
